@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(Downloads/SKILL_img.jpg);
                background-repeat: no-repeat;
                background-size: cover;

}
.skills{
    margin: auto;
    height: 100%;
    width: 1100px;
    padding: 100px 100px;
}
.skills h1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #000;
}
.content{
    display: flex;
    align-items: center;
    margin-top: 50px;
    color: #000;
}
.left{
    width: 50%;
}
.left h1{
    text-align: left;
    font-size: 30px;
    color: #000;
}
.left p{
    font-size: 18px;
    margin: 25px 0;
    color: #000;
}
.left a{
    background-color: crimson;
    color: white;
    padding: 8px 16px;
    border: 2px solid crimson;
    border-radius: 6px;
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.left a:hover{
    background-color: transparent;
    color: crimson;
}
.right{
    flex: 1;
    margin-left: 30px;
}
.rigth .line{
    margin-bottom: 15px;
}
.right .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right .info span{
    font-weight: 500;
    font-size: 18px;
}
.right .bars{
    background-color: lightgray;
    height: 5px;
    width: 100%;
    position: relative;
}
.right .bars::before{
    content: '';
    position: absolute;
    height: 100%;
    background-color: crimson;
}
.right .html::before{
    width: 90%;
}
.right .css::before{
    width: 60%;
}
.right .js::before{
    width: 65%;
}
.right .c::before{
    width: 75%;
}
